$color_primary:rgb(216, 216, 81);
$color_primary_dark:rgb(228, 228, 127);

$color_secondary:black;

$color_grey_light_1:white;
$color_grey_light_1:whitesmoke;

$color_grey_dark_1:rgb(63, 59, 59);
$color_grey_dark_2:rgb(83, 82, 82);

$font_primary:sans-serif;
$font_display:sans-serif;
